body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #000;
}
header img {
    width: 60px;
    margin: 20px 0;
}
.container {
    width: 960px;
    margin: auto;
    position: relative;
}
.box {
    width: 50%;
    box-shadow: 0 5px 10px #CCC;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
}
.center {
    text-align: center;
}
button {
    background: #FFF;
    padding: 10px;
    border: 0;
    color: #ff7800;
    border: 2px solid #ff7800;
    margin: 0 20px;
    min-width: 100px;
    font-size: 16px;
    border-radius: 5px;
    transition: all .4s;
}
button:hover {
    background: #ff7800;
    color: #FFF;
}
.icon-record {
    border-radius: 100%;
    background: rgb(121,9,28);
    background: linear-gradient(333deg, rgba(121,9,28,1) 0%, rgba(255,21,69,1) 100%);
}
.icon-stop {
    background: rgb(0,0,0);
    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(130,130,130,1) 100%);
}
.icon-record, .icon-stop {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}
button:hover .icon-record, button:hover  .icon-stop{
    background: #FFF;
}
audio {
    width: 80%;
    margin: 20px auto;
}
hr {
    height: 0;
    border: 1px solid #c7c8c9;
    margin-bottom: 20px;
}
.circle {
    width: 50px;
    height: 50px;
    background: #c7c8c9;
    float: left;
    border-radius: 100%;
    text-align: center;
    line-height: 58px;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    display: inline-block;
  }
  .track-name {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }
  .delete svg {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
path:hover {
    fill: #df113b;
    transition: all .4s;
  }
  path + path {
    fill: none
  }
  button.send {
      background: #000;
      color: #FFF;
      border-color: transparent;
  }
  button.send:hover {
      background: #FFF;
      color: #000;
      border-color: #000;
  }